<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Movies</title>
</head>
<body style="background-color: #152238; color: white; font-family:Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">
    <h1 style="text-align: center; padding: 20px;">You can view various telugu movies here...</h1>
    {% for movie in movies %}
        <div class = "container"style="border-radius: 10px; width: 90%; height: 200px;margin-bottom: 100px; box-sizing: border-box; margin-bottom: 100px; box-shadow: 10px 10px skyblue; margin-left: 50px; border: 1px solid;">
            <h2 style="text-align: center;">{{movie.title}}</h2>
            <a href="https://2565136225.tapecontent.net/radosgw/ldKKkW0pA9C7JeY/7gtYFFKQkk8jzH9EPF24mqMuA0VhQxnbPACf5ycN5aEbU9LOpsvHitdunG7dS_u0HSBJqtSsxCPlEjhMfLtPYkIWL2lF6VbgA0cklAK3M3JVdaRtRI0L90Xg6n4n7YT5NWpSrDTDlpQ7ulm_OgCuIGushpHd_0zRomXZGPlB3LRpsPAv7XU5DB6OOTD1TNQDoW9GqWl5Ioa7o6ofQIEqSpJqCFHny24-QxxLe6cDOBeUy8UnbCbGqp-1aE1Cw3uyGcL_samVsOxuXadm/video.mp4?stream=1">
                <button style="margin-top: 90px; margin-left: 200px;" class="btn btn-light">View</button>
            </a>
            
        </div>
    {% endfor %}
</body>
</html>
